{% extends "catalog/base.html" %}
{% block content %}

<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary" >
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                        <a href="{% url 'blog:list' %}" class="btn btn-secondary">назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}