{% extends 'catalog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<div class="card mb-4 box-shadow">

    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Контактная информация</h4>
    </div>
        <div class="card-body">
        <h2 class="card-title pricing-card-title">адрес: г.Москва Кремль</h2>
        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
            <li>- тел. +7-495- 222222222</li>
        </ul>
    </div>
</div>
</body>
</html>
{% endblock %}
