{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-outline-secondary">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
