{% extends 'catalog/base.html' %}
{% block content %}

{% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img src="media/{{object.avatar }}" alt="нет изображения"  style="max-width: 50%;">
                      <small class="text-muted">Осталось - {{ object.quantity_product }} шт.</small>

                <div class="card-body">
                    <h5 class="card-title">{{object.category|title}} {{object.product_name|title}}</h5>
                    <h1 class="card-title pricing-card-title">{{object.price|floatformat:2}} руб.</h1>
                    <a class="pb-1  mb-4 btn btn-outline-primary form-control" href="{% url 'catalog:info1' %}">Купить</a>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group ">
                      <a href="{% url 'catalog:detail' object.pk %}"  class="btn btn-sm btn-outline-secondary"  >View</a>
                      <a href="{% url 'catalog:update' object.pk %}"  class="btn btn-sm btn-outline-secondary">Edit</a>
                      <a href="{% url 'catalog:delete' object.pk %}"  class="btn btn-sm btn-outline-secondary">Delete</a>

                    </div>
                    <small class="text-muted">Просмотров - {{ object.views_count }}</small>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
{% endblock %}